.DS_Store

/npm-debug.log
/node_modules

/yarn-error.log

/coverage

# Ignored unnecessary folders and files for npm package
/__mocks__/*
/__tests__/*
/config/*
/demo-app/*

.babelrc
.codeclimate.yml
.eslintrc.json
.stylelintrc.json
package-lock.json
yarn.lock
