.DS_Store

/npm-debug.log
/node_modules

/yarn-error.log

/coverage

# Ignored structure at gh-pages branch
/__mocks__
/__tests__
/config
demo-app/*
!demo-app/assets/
/dist/react-leaflet-markercluster.js
/dist/react-leaflet-markercluster.min.js
/dist/styles.min.css
/src

.babelrc
.codeclimate.yml
.eslintrc.json
.stylelintrc.json
package-lock.json
package.json
yarn.lock
